# Dataset

In [1]:
import json
import pandas as pd
pd.set_option('display.float_format', lambda x: f'{x:.2f}' if isinstance(x, float) else x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

In [2]:
df = pd.read_csv('data/wines.csv')
df.head()

,wine_id,vintage_id,wine_type,region_id,region_name,country_name,used_grapes,relevant_food,top_flavors,vintage_name,wine_name,varietal_name,style_name,year,price,currency_code,acidity,intensity,sweetness,tannin,fizziness,rating_avg,rating_count,vivino_url,style_description
0,1122095,164942645,Rose,409.00,Champagne,France,Pinot Noir; Chardonnay; Merlot,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",citrus; green apple; pear; apple; toast; brioc...,Moët & Chandon Impérial Brut Champagne,Impérial Brut Champagne,Champagne,French Champagne,NaN,29.99,USD,4.21,3.76,NaN,NaN,4.28,4.10,136529,https://www.vivino.com/US/en/moet-chandon-impe...,While there are many sparkling wine regions ar...
1,1178210,1561557,Rose,409.00,Champagne,France,Pinot Noir; Chardonnay; Merlot,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",apple; citrus; brioche; green apple; toast; pe...,Pommery Royal Brut Champagne,Royal Brut Champagne,Champagne,French Champagne,NaN,29.99,USD,4.15,3.66,NaN,NaN,4.23,3.90,39101,https://www.vivino.com/US/en/pommery-royal-bru...,While there are many sparkling wine regions ar...
2,6363154,157213587,Rose,4623.00,Champagne Grand Cru 'Chouilly',France,Pinot Noir; Chardonnay; Merlot,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",apple; citrus; pear; brioche; green apple; toa...,Nicolas Feuillatte Réserve Exclusive Brut Cham...,Réserve Exclusive Brut Champagne,Champagne,French Champagne,NaN,30.00,USD,4.25,3.66,NaN,NaN,4.28,3.90,27382,https://www.vivino.com/US/en/nicolas-feuillatt...,While there are many sparkling wine regions ar...
3,1134756,1471106,Rose,3233.00,Prosecco di Treviso,Italy,Sangiovese; Chardonnay; Merlot,Shellfish; Vegetarian; Appetizers and snacks; ...,pear; apple; citrus; green apple; lemon; honey...,La Gioiosa Prosecco Treviso,Prosecco Treviso,Prosecco,Italian Prosecco,NaN,19.67,USD,3.67,2.07,NaN,NaN,3.72,3.70,17190,https://www.vivino.com/US/en/la-gioiosa-prosec...,"A beautiful, somewhat less popular, and often ..."
4,1117594,1518502,Rose,724.00,Crémant de Bourgogne,France,Pinot Noir; Chardonnay; Merlot,Shellfish; Poultry; Appetizers and snacks; Lea...,citrus; minerals; apple; green apple; lemon; g...,Domaine Les Temps Perdus - Clotilde Davenne Cr...,Crémant de Bourgogne Brut Extra,Cremant,French Crémant,NaN,27.99,USD,3.67,3.24,NaN,NaN,3.85,3.80,15736,https://www.vivino.com/US/en/clotilde-davenne-...,NaN

In [3]:
df.loc[0].to_dict()

{'wine_id': 1122095,
 'vintage_id': 164942645,
 'wine_type': 'Rose',
 'region_id': 409.0,
 'region_name': 'Champagne',
 'country_name': 'France',
 'used_grapes': 'Pinot Noir; Chardonnay; Merlot',
 'relevant_food': 'Pork; Rich fish (salmon, tuna etc); Shellfish; Mild and soft cheese',
 'top_flavors': 'citrus; green apple; pear; apple; toast; brioche; lemon; yeast; cream; honey',
 'vintage_name': 'Moët & Chandon Impérial Brut Champagne',
 'wine_name': 'Impérial Brut Champagne',
 'varietal_name': 'Champagne',
 'style_name': 'French Champagne',
 'year': nan,
 'price': 29.99,
 'currency_code': 'USD',
 'acidity': 4.21,
 'intensity': 3.76,
 'sweetness': nan,
 'tannin': nan,
 'fizziness': 4.28,
 'rating_avg': 4.1,
 'rating_count': 136529,
 'vivino_url': 'https://www.vivino.com/US/en/moet-chandon-imperial-brut-champagne/w/1122095',
 'style_description': "While there are many sparkling wine regions around the globe, only Champagne from the Champagne appellation in France can be labeled as such.\xa0\n\nChampagne has long been the wine of choice to celebrate special occasions, and its reputation as a luxury beverage has been intact since the Romans established vineyards in Reims in the 5th century (that's a really long time ago).\xa0\n\nSparkling Champagne wasn't discovered until the 16th century, by accident, by the Benedictine Monks. Early vintages of Champagne were dubbed “the devil's wine” because the bottles tended to explode. Improvements to both bottle and cork developed over hundreds of years.\xa0\n\nChampagne is mainly made from a blend of Chardonnay, Pinot Noir, and Pinot Meunier grapes, and most of it is produced as a non-vintage wine, meaning that it's a blend of several vintages. Generally speaking, non-vintage Champagne is fantastic, and tends to be less expensive than vintage Champagne—this is because a vintage year is only declared when growing conditions are especially favorable.\xa0\n\nThe convivial nature of Champagne is due in part to how it's made. Following primary fermentation and bottling, a secondary alcoholic fermentation is induced in the bottle, which is achieved by the addition of yeast and rock sugar. The bubbles we love so much are a natural byproduct of this magical secondary fermentation, in the form of carbon dioxide."}

## Data analysis

First let's delete irrelevant fields

In [4]:
relevant_fields = [
    "vintage_id",
    "wine_name",
    "vintage_name",
    "varietal_name",
    "country_name",
    "region_name",
    "wine_type",
    "year",
    "top_flavors",
    "relevant_food",
    "price",
    "currency_code",
    "sweetness",
    "acidity",
    "intensity",
    "tannin",
    "fizziness",
    "rating_avg",
    "rating_count",
    "vivino_url"
]

df = df[relevant_fields]

In [5]:
df.head()

,vintage_id,wine_name,vintage_name,varietal_name,country_name,region_name,wine_type,year,top_flavors,relevant_food,price,currency_code,sweetness,acidity,intensity,tannin,fizziness,rating_avg,rating_count,vivino_url
0,164942645,Impérial Brut Champagne,Moët & Chandon Impérial Brut Champagne,Champagne,France,Champagne,Rose,NaN,citrus; green apple; pear; apple; toast; brioc...,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",29.99,USD,NaN,4.21,3.76,NaN,4.28,4.10,136529,https://www.vivino.com/US/en/moet-chandon-impe...
1,1561557,Royal Brut Champagne,Pommery Royal Brut Champagne,Champagne,France,Champagne,Rose,NaN,apple; citrus; brioche; green apple; toast; pe...,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",29.99,USD,NaN,4.15,3.66,NaN,4.23,3.90,39101,https://www.vivino.com/US/en/pommery-royal-bru...
2,157213587,Réserve Exclusive Brut Champagne,Nicolas Feuillatte Réserve Exclusive Brut Cham...,Champagne,France,Champagne Grand Cru 'Chouilly',Rose,NaN,apple; citrus; pear; brioche; green apple; toa...,"Pork; Rich fish (salmon, tuna etc); Shellfish;...",30.00,USD,NaN,4.25,3.66,NaN,4.28,3.90,27382,https://www.vivino.com/US/en/nicolas-feuillatt...
3,1471106,Prosecco Treviso,La Gioiosa Prosecco Treviso,Prosecco,Italy,Prosecco di Treviso,Rose,NaN,pear; apple; citrus; green apple; lemon; honey...,Shellfish; Vegetarian; Appetizers and snacks; ...,19.67,USD,NaN,3.67,2.07,NaN,3.72,3.70,17190,https://www.vivino.com/US/en/la-gioiosa-prosec...
4,1518502,Crémant de Bourgogne Brut Extra,Domaine Les Temps Perdus - Clotilde Davenne Cr...,Cremant,France,Crémant de Bourgogne,Rose,NaN,citrus; minerals; apple; green apple; lemon; g...,Shellfish; Poultry; Appetizers and snacks; Lea...,27.99,USD,NaN,3.67,3.24,NaN,3.85,3.80,15736,https://www.vivino.com/US/en/clotilde-davenne-...

Now let's normilize the data, so it would be easily queriable

### Prices

In [6]:
df['currency_code'].describe()

count     7112
unique       1
top        USD
freq      7112
Name: currency_code, dtype: object

All prices are in dollars, so we can just drop that field

In [7]:
del df['currency_code']

### Year

In [8]:
df['year'].describe()

count   5874.00
mean    2016.87
std       10.97
min     1924.00
25%     2017.00
50%     2021.00
75%     2023.00
max     2024.00
Name: year, dtype: float64

In [9]:
int(df['year'].isnull().sum())

1238

Let's delete all the wines that don't have year

In [10]:
# drop nans if year is nan
print(f"Total rows before dropping nans: {len(df)}")
df = df.dropna(subset=['year'])
print(f"Total rows after dropping nans: {len(df)}")

Total rows before dropping nans: 7112
Total rows after dropping nans: 5874

Let's also turn year into integer

In [11]:
# Let's also turn year into integer
df['year'] = df['year'].astype(int)

### Wines types and styles

In [12]:
types_and_styles_columns = [
    "wine_type",
    "varietal_name"
]

In [13]:
df['wine_type'].value_counts()

wine_type
White        2103
Red          1758
Dessert       662
Sparkling     617
Rose          453
Fortified     281
Name: count, dtype: int64

In [14]:
df['varietal_name'].value_counts()

varietal_name
Rosé                  541
Chardonnay            528
White                 454
Cabernet Sauvignon    427
Sauternes             278
                     ...
Priorat tinto           1
Moulis-en-Médoc         1
Listrac-Médoc           1
Grauburgunder           1
Douro Red               1
Name: count, Length: 162, dtype: int64

In [15]:
# Let's count how many empty values we have in varietal_name
df['varietal_name'].isna().sum()

np.int64(289)

In [16]:
# Let's drop those values
print(f"Total rows before dropping nans: {len(df)}")
df = df.dropna(subset=['varietal_name'])
print(f"Total rows after dropping nans: {len(df)}")

Total rows before dropping nans: 5874
Total rows after dropping nans: 5585

Let's normilize unicode of those

In [17]:
from dataset_normalisation import varietal_name_normalisation
varietal_name_normalisation('Chardonnay')

'chardonnay'

In [18]:
df['varietal_name'] = df['varietal_name'].apply(varietal_name_normalisation)

In [19]:
df['varietal_name'].value_counts().tail(120)

varietal_name
amarone            23
petite sirah       21
rioja tinto        21
syrah              19
pauillac           18
                   ..
alentejo tinto      1
moulis-en-medoc     1
hermitage           1
malagouzia          1
douro red           1
Name: count, Length: 120, dtype: int64

In [20]:
# We can see that most of the wines belong to top 40 varietals,
# so let's drop unpopulated varietals

# Keep only rows where varietal_name appears at least 25 times
print(f"Total rows before dropping unpopular varietals: {len(df)}")

varietal_counts = df['varietal_name'].value_counts()
popular_varietals = varietal_counts[varietal_counts >= 25].index
df = df[df['varietal_name'].isin(popular_varietals)]
print(f"Total rows after dropping unpopular varietals: {len(df)}")

Total rows before dropping unpopular varietals: 5585
Total rows after dropping unpopular varietals: 4761

In [21]:
df['varietal_name'].value_counts()

varietal_name
rose                  541
chardonnay            528
white                 454
cabernet sauvignon    427
sauternes             278
                     ...
colheita port          28
saint-julien           25
pinot gris             25
tokaji aszu            25
vin santo              25
Name: count, Length: 39, dtype: int64

We are left with top 40 varietals  
Let's check that wine types are still all presented

In [22]:
df['wine_type'].value_counts()

wine_type
White        1894
Red          1253
Sparkling     556
Dessert       457
Rose          388
Fortified     213
Name: count, dtype: int64

### Flavors

Let's check how many flavors we have and turn flavors into a list before uploading it to database

In [23]:
from dataset_normalisation import flavors_into_list
flavors = df.iloc[0]['top_flavors']
flavors_into_list(flavors)

['pear',
 'green apple',
 'citrus',
 'apple',
 'minerals',
 'honey',
 'peach',
 'lemon',
 'honeysuckle',
 'grapefruit']

In [24]:
flavors_set = set()
for iter, row in df.iterrows():
    flavors_set.update(flavors_into_list(row['top_flavors']))

print(len(flavors_set))

280

In [25]:
# Let's check empty values in top_flavors
print("Number of empty values in top_flavors:", df["top_flavors"].isna().sum())
first_empty_row = df[df["top_flavors"].isna()].index[0]
print("Id of the first row with empty top_flavors:", first_empty_row)

Number of empty values in top_flavors: 53
Id of the first row with empty top_flavors: 281

In [26]:
# Let's find out what are the most popular flavors for each varietal name

from dataset_normalisation import get_most_common_flavors
varietal_flavors = get_most_common_flavors(df)
df['top_flavors'] = df['varietal_name'].map(varietal_flavors)
df["top_flavors"].isna().sum()
print(f"Example of filled top_flavors: {df.iloc[first_empty_row]['top_flavors']}")

Example of filled top_flavors: strawberry;citrus;raspberry;minerals;peach;grapefruit

### Relevant food
Let's check how many different categories of food we have

In [27]:
from dataset_normalisation import relevant_food_into_list
flavors = df.iloc[22]['relevant_food']
relevant_food_into_list(flavors)

['pork', 'shellfish', 'vegetarian', 'poultry']

In [28]:
relevant_food_set = set()
for iter, row in df.iterrows():
    relevant_food_set.update(relevant_food_into_list(row['relevant_food']))

print(len(relevant_food_set))

46

In [29]:
# Let's check empty values in relevant_food
print("Number of empty values in relevant_food:", df["relevant_food"].isna().sum())
first_empty_row = df[df["relevant_food"].isna()].index[0]
print("Id of the first row with empty relevant_food:", first_empty_row)

Number of empty values in relevant_food: 50
Id of the first row with empty relevant_food: 419

In [30]:
print(relevant_food_into_list(df.iloc[0]['relevant_food']))

from dataset_normalisation import get_most_common_relevant_food
varietal_relevant_food = get_most_common_relevant_food(df)
varietal_relevant_food

['shellfish', 'appetizers and snacks', 'lean fish', 'aperitif']

{'albarino': 'pasta;shellfish;vegetarian',
 'barolo': 'beef;pasta;lamb',
 'bordeaux blend': 'beef;poultry;game (deer, venison)',
 'branco': 'marisco;vegetariano;carne de porco',
 'brunello': 'beef;lamb;game (deer, venison)',
 'cabernet sauvignon': 'beef;lamb;game (deer, venison)',
 'chablis': 'pork;rich fish (salmon, tuna etc);shellfish',
 'champagne': 'pork;rich fish (salmon, tuna etc);shellfish',
 'chardonnay': 'pork;vegetarian;poultry',
 'chenin blanc': 'mild and soft cheese;rich fish (salmon, tuna etc);vegetarian',
 'chenin blanc dessert': 'mature and hard cheese;fruity desserts;blue cheese',
 'colheita port': 'sweet desserts;mature and hard cheese;blue cheese',
 'cote de beaune white': 'pasta;rich fish (salmon, tuna etc);shellfish',
 'dessert': 'fruity desserts;blue cheese;sweet desserts',
 'late bottled vintage port': 'sweet desserts;mature and hard cheese;blue cheese',
 'maconnais white': 'pasta;vegetarian;cured meat',
 'malbec': 'beef;lamb;pork',
 'merlot': 'beef;lamb;veal',
 "moscato d'asti": 'fruity desserts;aperitif',
 'pinot grigio': 'shellfish;vegetarian;mushrooms',
 'pinot gris': 'pork;spicy food;mushrooms',
 'pinot noir': 'veal;poultry;vitela',
 'red': 'beef;lamb;veal',
 'red blend': 'beef;veal;poultry',
 'riesling': 'pork;cured meat;spicy food',
 'rioja red': 'beef;lamb;veal',
 'rose': 'shellfish;appetizers and snacks;poultry',
 'saint-emilion': 'beef;lamb;game (deer, venison)',
 'saint-julien': 'beef;lamb;game (deer, venison)',
 'sauternes': 'fruity desserts;blue cheese;sobremesas com frutas',
 'sauvignon blanc': "vegetarian;goat's milk cheese;shellfish",
 'sparkling': 'appetizers and snacks;aperitif;shellfish',
 'tinto': 'carne de vaca;cordeiro;vitela',
 'tokaji aszu': 'sweet desserts;blue cheese;sobremesa',
 'vin santo': 'sweet desserts;blue cheese;sobremesa',
 'vintage port': 'mature and hard cheese;blue cheese',
 'white': 'shellfish;lean fish;vegetarian',
 'white blend': 'pork;shellfish;poultry',
 'zinfandel': 'beef;lamb;poultry'}

In [31]:
# Let's find out what are the most popular relevant_food for each varietal name

from dataset_normalisation import get_most_common_relevant_food
varietal_relevant_food = get_most_common_relevant_food(df)
df['relevant_food'] = df['varietal_name'].map(varietal_relevant_food)
df["relevant_food"].isna().sum()
print(f"Example of filled top_flavors: {df.iloc[first_empty_row]['relevant_food']}")

Example of filled top_flavors: shellfish;vegetarian;mushrooms

### Numerical flavors

Numerical flavor characterictics are:
    "sweetness",
    "acidity",
    "intensity",
    "tannin",
    "fizziness"

In [32]:
numerical_flavor_characteristics = [
    "sweetness",
    "acidity",
    "intensity",
    "tannin",
    "fizziness"
]

df[numerical_flavor_characteristics].describe()

       sweetness  acidity  intensity  tannin  fizziness
count    4374.00  4761.00    4761.00 1253.00     387.00
mean        2.29     3.56       3.66    3.07       3.59
std         1.14     0.63       0.84    0.58       1.16
min         1.00     1.50       1.18    1.40       1.00
25%         1.54     3.10       2.99    2.65       3.68
50%         1.82     3.42       3.76    3.25       4.00
75%         2.52     4.03       4.51    3.44       4.30
max         5.00     5.00       5.00    4.58       5.00

We can see that those are characteristics from 1 to 5.  
Let's try to generate a proxy taste description based on those parameters and wine type

In [33]:
from dataset_normalisation import taste_category

categories = set()
for iter, row in df.iterrows():
    categories.add(taste_category(row))

categories

{'balanced (off-dry)',
 'bright & zesty',
 'crisp & dry',
 'dessert or fortified',
 'dry & balanced',
 'dry red',
 'lush & sweet',
 'neutral or unspecified',
 'off-dry red',
 'rich & full red',
 'rich & full-bodied',
 'soft & smooth red',
 'sparkling (unspecified)',
 'sparkling brut (dry)',
 'sparkling demi-sec (off-dry)',
 'sparkling doux (sweet)',
 'sweet-leaning red',
 'tannic & structured red'}

In [34]:
df["taste_category"] = df.apply(taste_category, axis=1)

### Region and country

Let's normalize region and country as well

In [35]:
from dataset_normalisation import region_and_country_normalisation
region_and_country_normalisation("Penedès")

'penedes'

In [36]:
df["country_name"] = df["country_name"].apply(region_and_country_normalisation)
df["region_name"] = df["region_name"].apply(region_and_country_normalisation)

### Ratings

In [37]:
ratings_columns = [
    "rating_avg",
    "rating_count"
]
print("Nan ratings count:")
print(df[ratings_columns].isna().sum())

print("Ratings description:")
df[ratings_columns].describe()

Nan ratings count:
rating_avg      0
rating_count    0
dtype: int64
Ratings description:

       rating_avg  rating_count
count     4761.00       4761.00
mean         4.12       2039.20
std          0.27       4829.49
min          3.20         25.00
25%          3.90        136.00
50%          4.20        582.00
75%          4.30       1952.00
max          4.80      91938.00

## Final dataframe

In [38]:
df.head()

,vintage_id,wine_name,vintage_name,varietal_name,country_name,region_name,wine_type,year,top_flavors,relevant_food,price,sweetness,acidity,intensity,tannin,fizziness,rating_avg,rating_count,vivino_url,taste_category
36,180201168,Petillant Blanc (Vi d'Agulla),Avinyó Petillant Blanc (Vi d'Agulla) 2024,sparkling,spain,catalunya,Rose,2024,citrus;apple;cream;yeast;green apple;lemon,appetizers and snacks;aperitif;shellfish,19.99,NaN,3.43,2.87,NaN,3.90,4.20,3097,https://www.vivino.com/US/en/avinyo-petillant-...,sparkling (unspecified)
91,168723836,Moscato d'Asti,Bartenura Moscato d'Asti 2021,moscato d'asti,italy,moscato d'asti,Rose,2021,honey;peach;pear;apple;apricot;citrus,fruity desserts;aperitif,15.99,NaN,2.66,2.69,NaN,1.13,4.30,804,https://www.vivino.com/US/en/bartenura-moscato...,neutral or unspecified
94,171198806,Brut Reserva,AT Roca Brut Reserva 2022,sparkling,spain,penedes,Rose,2022,citrus;apple;cream;yeast;green apple;lemon,appetizers and snacks;aperitif;shellfish,29.00,NaN,3.25,3.07,NaN,3.91,3.90,749,https://www.vivino.com/US/en/at-roca-brut-rese...,sparkling (unspecified)
133,151506413,Late Bottled Vintage Port,Quinta do Crasto Late Bottled Vintage Port 2017,late bottled vintage port,portugal,porto,Fortified,2017,chocolate;raisin;cherry;plum;blackberry;fig,sweet desserts;mature and hard cheese;blue cheese,28.34,4.57,3.01,4.82,NaN,NaN,4.10,495,https://www.vivino.com/US/en/quinta-do-crasto-...,dessert or fortified
134,142337431,Late Bottled Vintage Unfiltered Port,Quinta do Noval Late Bottled Vintage Unfiltere...,late bottled vintage port,portugal,porto,Fortified,2016,chocolate;raisin;cherry;plum;blackberry;fig,sweet desserts;mature and hard cheese;blue cheese,28.34,4.50,3.06,4.80,NaN,NaN,4.10,452,https://www.vivino.com/US/en/quinta-do-noval-l...,dessert or fortified

Let's apply simple sanity check to understand if the data is noisy

In [39]:
def flag_inconsistencies(df: pd.DataFrame) -> pd.DataFrame:
    flags = []

    for i, row in df.iterrows():
        wt = str(row["wine_type"]).lower()
        varietal = str(row.get("varietal_name", "")).lower()
        fizz = row.get("fizziness")
        sweet = row.get("sweetness")

        flag_list = []

        # Sparkling wines should usually have fizziness > 2.0
        if wt == "sparkling" and (pd.isna(fizz) or fizz < 2.0):
            flag_list.append("sparkling_no_fizz")

        # Non-sparkling wines with high fizziness
        if wt != "sparkling" and not pd.isna(fizz) and fizz > 2.5:
            flag_list.append("still_with_fizz")

        # Rosé label but varietal suggests sparkling
        if wt == "rose" and "sparkling" in varietal:
            flag_list.append("rose_vs_sparkling")

        # Dessert wines should usually be sweet
        if wt == "dessert" and (pd.isna(sweet) or sweet < 3.0):
            flag_list.append("dessert_not_sweet")

        if flag_list:
            flags.append({"index": i, "flags": flag_list})

    return pd.DataFrame(flags)

In [40]:
noise_df = flag_inconsistencies(df)
print(noise_df["flags"].explode().value_counts(normalize=True))

flags
sparkling_no_fizz   0.55
still_with_fizz     0.32
rose_vs_sparkling   0.13
dessert_not_sweet   0.00
Name: proportion, dtype: float64

**This was a small validation that our data is consistent**

Let's see how we want to see our data in the database

In [43]:
example_row = df.iloc[25].to_dict()

example_row['top_flavors'] = flavors_into_list(example_row['top_flavors'])
example_row['relevant_food'] = relevant_food_into_list(example_row['relevant_food'])
print(json.dumps(example_row, indent=4))

{
    "vintage_id": 177988134,
    "wine_name": "Chavignol Sancerre Ros\u00e9",
    "vintage_name": "Fran\u00e7ois Cotat Chavignol Sancerre Ros\u00e9 2023",
    "varietal_name": "rose",
    "country_name": "france",
    "region_name": "sancerre",
    "wine_type": "Sparkling",
    "year": 2023,
    "top_flavors": [
        "strawberry",
        "citrus",
        "raspberry",
        "minerals",
        "peach",
        "grapefruit"
    ],
    "relevant_food": [
        "shellfish",
        "appetizers and snacks",
        "poultry"
    ],
    "price": 74.0,
    "sweetness": 1.75,
    "acidity": 4.04,
    "intensity": 1.77,
    "tannin": NaN,
    "fizziness": NaN,
    "rating_avg": 4.1,
    "rating_count": 597,
    "vivino_url": "https://www.vivino.com/US/en/francois-cotat-chavignol-sancerre-rose/w/1690155",
    "taste_category": "sparkling brut (dry)"
}

In [42]:
# df.to_csv('wines_light.csv', index=False)